@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/wideGuilds.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/highlightJS.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/autoMemberlist.css";

@import "https://rawgit.com/jakeoid/discord-emoji-anim/master/stylesheet.css";


.app {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.app .layers {
    background-color: rgba(0, 0, 0, 0.85)!important;
}


.message-group-blocked {
    display: none;
}

:root{
    --code-font: "Fira Code Medium";
}

/*this is my code for the line before names*/
.comment .user-name:before {
    color: rgba(inherit, inherit, inherit, 0);
    content: '	 ';
    border-left: solid 3px;
    border-radius: 5px;
    margin-right: 3px
}

/*
  This plugin was made by Discord user: stupid cat#8160
  Github: https://gist.github.com/Ratismal
*/

.channel-members-wrap {
	background: rgba(0, 0, 0, 0.5);
}
